<p-toast key="main" position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

<!-- Titelzeile -->
<header class="user-header">
  <div class="header-content">
    <img 
      src="assets/images/nice.jpg" 
      alt="bcube logo" 
      class="dashboard-logo"
    />
    <span class="brand-text">bcube</span>
  </div>
</header>

<!-- Hauptbereich -->
<div class="user-layout">
  <!-- Linkes Menü -->
  <p-megaMenu 
    [model]="items" 
    orientation="vertical" 
    styleClass="admin-menu">
  </p-megaMenu>

  <!-- Rechter Inhaltsbereich -->
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>