<h1 class="m-0">Karte</h1>

<div style="display: flex; gap: 1rem;">
  <!-- Karte links -->
  <div id="map" class="map-container" style="flex: 1; max-width: 1100px; height: 700px;"></div>

  <!-- Rechte Spalte für Spinner / Studio-Details -->
  <div style="flex: 0 0 350px;">
    <app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>
    <p>Liste verfügbarer Studios</p>
    <div *ngIf="!(loading$ | async) && (studios$ | async) as studios">
      <div *ngIf="selectedStudio; else noStudio" class="studio-details">
        <p-card (click)="navigateToStudio(selectedStudio)">
          <ng-template pTemplate="title">{{ selectedStudio.name }}</ng-template>
          <ng-template pTemplate="subtitle">{{ selectedStudio.street }}, {{ selectedStudio.plz }} {{ selectedStudio.city
            }}</ng-template>

          <a *ngIf="selectedStudio.latitude && selectedStudio.longitude"
            [href]="'https://www.google.com/maps/dir/?api=1&destination=' + selectedStudio.latitude + ',' + selectedStudio.longitude"
            target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">
            Route in Google Maps öffnen
          </a>
        </p-card>
      </div>

      <!-- Template für kein Studio -->
      <ng-template #noStudio>
        <p-card>
          <p>Kein Studio in näherer Umgebung gefunden</p>
        </p-card>
      </ng-template>
    </div>
  </div>
</div>