<app-auth-container [title]="'Geben Sie Ihre E-Mail-Adresse ein'">
  <form [formGroup]="formGroup" class="email-reset-form">
    <label for="email" class="block text-900 font-medium mb-2">Benutzer</label>
    <input
      id="email"
      formControlName="email"
      type="text"
      placeholder="E-Mail-Adresse"
      pInputText
      class="w-full mb-3"
      />
      @if (submitted && email.errors) {
        <small class="p-error">
          Ungültige E-Mail-Adresse.
        </small>
      }

      <!-- Button-Gruppe nebeneinander -->
      <div class="card flex justify-content-between align-items-center mt-4 email-reset-actions">
        <p-button
          pRipple
          label="Zurück"
          icon="pi pi-arrow-left"
          class="p-button-text text-900"
          (click)="goBack()"
          [style]="darkButtonStyle"
        ></p-button>

        <p-button
          pRipple
          label="Passwort zurücksetzen"
          [loading]="loading"
          [disabled]="loading"
          (click)="submit()"
          [style]="darkButtonStyle"
        ></p-button>
      </div>
    </form>
  </app-auth-container>

  <p-toast></p-toast>
