:host ::ng-deep .user-update-form {
  padding-top: 1rem;
  text-align: left;
}

:host ::ng-deep .user-update-form .mb-4:first-child {
  margin-top: 0.85rem;
}

:host ::ng-deep .user-update-form .mb-4,
:host ::ng-deep .user-update-form label,
:host ::ng-deep .user-update-form small,
:host ::ng-deep .user-update-form input,
:host ::ng-deep .user-update-form .p-select {
  text-align: left !important;
}
