<div class="card flex justify-content-center">
  <p-button [style]="darkButtonStyle" (click)="openDialog()" pRipple label="Benutzer anlegen" icon="pi pi-plus"
  styleClass="p-button-primary"></p-button>

  <p-dialog header="Benutzer anlegen" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
    <form [formGroup]="createForm">
      <app-user-form-fields [form]="createForm" [submitted]="submitted"></app-user-form-fields>

      <div class="flex justify-content-end">
        <p-button [style]="darkButtonStyle" (click)="submit()" pRipple label="Erstellen" [loading]="loading" icon="pi pi-save"
        styleClass="p-button-primary"></p-button>
      </div>
    </form>
  </p-dialog>
</div>
