<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>

<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="studio">
    <h2>{{ studio.name }}</h2>
    <img [src]="studio.imageBase64" alt="Studiobild" style="max-width: 300px; max-height: 300px">
    <p><strong>Beschreibung:</strong> {{ studio.description }}</p>
    <p><strong>Adresse:</strong> {{ studio.street }}, {{ studio.plz }} {{ studio.city }}</p>
    <p><strong>Land:</strong> {{ studio.country }}</p>

    <p-calendar
      class="max-w-full"
      [(ngModel)]="date"
      [inline]="true"
      [showWeek]="true"
      [showOtherMonths]="true"
      [selectOtherMonths]="false"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="2025:2035"
    />

    <div class="flex gap-2 mt-4">
      <label for="Start" class="my-auto">Startzeitpunkt:</label>
      <div class="flex items-center">
        <p-dropdown
          [options]="startHours"
          [(ngModel)]="selectedStartHour"
          placeholder="Stunde wählen"
        ></p-dropdown>
    
        <span class="mx-1 text-lg leading-none my-auto">:</span>
    
        <p-dropdown
          [options]="startMinutes"
          [(ngModel)]="selectedStartMinute"
          placeholder="Minute wählen"
          [disabled]="!selectedStartHour"
        ></p-dropdown>
      </div>
      <label class="my-auto">Uhr</label>
    </div>

    <div class="flex gap-3 mt-4">
      <label for="End" class="my-auto">Endzeitpunkt:</label>
    
      <div class="flex items-center">
        <p-dropdown
          [options]="startHours"
          [(ngModel)]="selectedEndHour"
          placeholder="Stunde wählen"
        ></p-dropdown>
    
        <span class="mx-1 text-lg leading-none my-auto">:</span>
    
        <p-dropdown
          [options]="startMinutes"
          [(ngModel)]="selectedEndMinute" 
          placeholder="Minute wählen"
          [disabled]="!selectedEndHour"
        ></p-dropdown>
      </div>
    
      <label class="my-auto -ml-2">Uhr</label>
    </div>
    
    <div class="mt-6 flex justify-center" *ngIf="isUser">
      <button
        pButton
        type="button"
        label="Studio buchen"
        [disabled]="!canBook()"
        (click)="confirmBooking()"
      ></button>
    </div>
  </ng-container>
</ng-container>