<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>

<ng-container *ngIf="!(loading$ | async)">
  <div class="mb-4">
    <button pButton type="button" icon="pi pi-arrow-left" label="Zurück" (click)="goBack()"
      class="p-button-outlined"></button>
  </div>

  <ng-container *ngIf="booking">
    <div class="flex mb-4">
      <h2 class="text-2xl font-semibold mb-2">
        Auftrag {{ booking.id }} - {{ booking.studio.name }}
      </h2>
      <img [src]="'data:image/jpeg;base64,' + booking.studio.image" alt="Studiobild"
        style="max-width: 75px; max-height: 75px; margin-top: 0.5rem; margin-left: 0.5rem;"
        (click)="showOverlay('data:image/jpeg;base64,' + booking.studio.image)">
    </div>

    <div *ngIf="overlayVisible" class="overlay" (click)="hideOverlay()">
      <img [src]="overlayImage" alt="Großes Bild" class="overlay-img" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="hideOverlay()">✖</button>
    </div>
    <p class="mb-4"><strong>Status:</strong> {{ statusLabels[booking.status] }}</p>
    <div class="flex gap-4">
      <p-card [style]="{ width: '25rem', overflow: 'hidden' }" class="rounded-lg shadow-sm">
        <ng-template pTemplate="title">Auftragsinformationen</ng-template>
        <p><strong>Datum:</strong> {{ booking.date | date: 'dd.MM.yyyy' }}</p>
        <p><strong>Zeit:</strong> {{ booking.startTime | date: 'HH:mm' }} - {{ booking.endTime | date: 'HH:mm' }} Uhr
        </p>
        <p><strong>Straße:</strong> {{ booking.studio.street }}</p>
        <p><strong>Stadt:</strong> {{ booking.studio.city }}</p>
        <p><strong>PLZ:</strong> {{ booking.studio.plz }}</p>
        <p><strong>Land:</strong> {{ booking.studio.country }}</p>
      </p-card>

      <p-card [style]="{ width: '25rem', overflow: 'hidden' }" *ngIf="!isUser"
        class="bg-gray-100 rounded-lg shadow-sm">
        <ng-template pTemplate="title">Kundendaten</ng-template>
        <p><strong>Kunden ID:</strong> {{ booking.user.id }}</p>
        <p><strong>Name:</strong> {{ booking.user.firstName }} {{ booking.user.lastName }}</p>
        <p><strong>E-Mail:</strong> {{ booking.user.email }}</p>
        <p><strong>Telefonnummer:</strong> {{ booking.user.phone }}</p>
      </p-card>
    </div>
    <div *ngIf="statusLabels[booking.status] !== statusLabels['CANCELLED']" class="mt-6 flex justify-center">
      <button pButton type="button" label="Stornieren" (click)="triggerStorno()" severity="danger"></button>
    </div>
  </ng-container>
</ng-container>