<app-auth-container [title]="'Willkommen!'">
  <div class="w-full text-center">
  <img src="assets/images/nice.jpg" alt="FH Logo" class="mb-3 w-6 sm:w-4 inline-block">
</div>
  <ng-container *ngIf="!loading; else loadingTemplate">
    <form [formGroup]="registerForm">
      <label for="email" class="block text-900 font-medium mb-2">Benutzer</label>
      <input id="email" formControlName="email" type="text" placeholder="E-Mail-Adresse" pInputText pAutoFocus [autofocus]="true" class="w-full mb-3">

      <label for="password" class="block text-900 font-medium mb-2">Passwort</label>
      <input id="password" formControlName="password" type="password" placeholder="Passwort" pInputText class="w-full mb-3">

      <label for="firstName" class="block text-900 font-medium mb-2">Vorname</label>
      <input id="firstName" formControlName="firstName" type="firstName" placeholder="firstName" pInputText class="w-full mb-3">

      <label for="lastName" class="block text-900 font-medium mb-2">Nachname</label>
      <input id="lastName" formControlName="lastName" type="lastName" placeholder="lastName" pInputText class="w-full mb-3">

      <label for="phone" class="block text-900 font-medium mb-2">Telefonnummer</label>
      <input id="phone" formControlName="phone" type="phone" placeholder="phone" pInputText class="w-full mb-3">


      <div class="card flex justify-content-center">
        <p-button pRipple label="Registrieren" [loading]="loading" (click)="register()"></p-button>
      </div>
      <p-button [routerLink]="['/login']">Einloggen</p-button>
    </form>
  </ng-container>

  <ng-template #loadingTemplate>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  
</app-auth-container>