<p-toast key="main" position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

<!-- Titelzeile -->
<header class="admin-header">
  <h2 class="dashboard-title">Admin Dashboard</h2>
</header>

<!-- Hauptbereich -->
<div class="admin-layout">
  <!-- Linkes Menü -->
  <p-megaMenu 
    [model]="items" 
    orientation="vertical" 
    styleClass="admin-menu">
  </p-megaMenu>

  <!-- Rechter Inhaltsbereich -->
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>