/* Titelzeile */
.admin-header {
  height: 50px;                 /* feste Höhe für Header */
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
}

.dashboard-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Hauptlayout unterhalb des Headers */
.admin-layout {
  display: flex;
  min-height: calc(100vh - 60px);  /* volle Höhe minus Header */
  overflow: hidden;
}

/* Menü links */
.admin-menu {
  width: 250px;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
}

/* Hauptinhalt rechts */
.page-content {
  flex-grow: 1;
  padding: 1.5rem;
  overflow: hidden;
}
