<div class="view-header flex align-items-center flex-wrap gap-4 mb-4">
  <h1 class="m-0">Benutzer</h1>
  <app-users></app-users>
</div>

<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>

<ng-container *ngIf="!(loading$ | async) && (users$ | async) as users">
  <div class="table-shell" style="padding-bottom: 0.5rem;">
    <p-table [value]="users">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="firstName">Vorname <p-sortIcon field="firstName"></p-sortIcon></th>
          <th pSortableColumn="lastName">Nachname <p-sortIcon field="lastName"></p-sortIcon></th>
          <th pSortableColumn="email">E-Mail <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="phone">Telefon <p-sortIcon field="phone"></p-sortIcon></th>
          <th pSortableColumn="role">Rolle <p-sortIcon field="role"></p-sortIcon></th>
          <th>Bearbeiten</th>
          <th>Löschen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr style="cursor: pointer;">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.isAdmin ? 'Administrator' : 'Benutzer' }}</td>
          <td>
            <app-update-user style="display: flex !important;" [user]="user" (click)="$event.stopPropagation()"></app-update-user>
          </td>
          <td>
            <app-delete-user [user]="user" (click)="$event.stopPropagation()"></app-delete-user>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pager-shell flex justify-content-center gap-3 mt-3">
      <button pButton label="<- Zurück"
              [style]="{'background-color': 'white', 'border-color': 'black', 'color': 'black'}"
              (click)="loadPage(this.userService.page - 1)"
              [disabled]="this.userService.page === 0">
      </button>

      <span class="mt-2 mx-3 font-bold">
          Seite {{ this.userService.page + 1 }} von {{ totalPages }}
      </span>

      <button pButton label="Weiter ->"
              [style]="{'background-color': 'white', 'border-color': 'black', 'color': 'black'}"
              (click)="loadPage(this.userService.page + 1)"
              [disabled]="this.userService.page >= totalPages - 1">
      </button>
  </div>

</ng-container>
