<p-toast position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

<app-auth-container [title]="'Geben Sie Ihr Neues Password ein'">
  <form [formGroup]="formGroup" class="change-password-form">

    <label for="password" class="block text-900 font-medium mb-2">
      Passwort
    </label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Passwort"
      pInputText
      class="w-full mb-3"
    />

    <label for="confirmPassword" class="block text-900 font-medium mb-2">
      Passwort bestätigen
    </label>
    <input
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
      placeholder="Passwort bestätigen"
      pInputText
      class="w-full mb-3"
    />

    <small *ngIf="passwordsDoNotMatch" class="p-error">
      Passwörter stimmen nicht überein
    </small>

    <div class="card flex justify-content-between align-items-center mt-4 change-password-actions">

      <p-button
        pRipple
        label="Zurück"
        icon="pi pi-arrow-left"
        class="p-button-text text-900"
        (click)="goBack()"
        [style]="darkButtonStyle">
      </p-button>

      <p-button
        pRipple
        label="Neues Passwort speichern"
        [loading]="loading"
        [disabled]="loading"
        (click)="submit()"
        class="bg-red-600 text-white"
        [style]="darkButtonStyle">
      </p-button>

    </div>
  </form>
</app-auth-container>
