<div class="view-header">
  <h1 class="m-0">Buchungen</h1>
</div>

<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>


<ng-container *ngIf="!(loading$ | async) && (bookings$ | async) as bookings">

  <!-- Filter -->
  <div class="filters-shell my-4 flex gap-4">
    <p-floatLabel *ngIf="isAdmin">
      <p-dropdown [(ngModel)]="userFilter" [options]="userFilters" optionLabel="label" dataKey="id"
        placeholder="User auswählen" (onChange)="updateFilters()">

        <!-- User Item -->
        <ng-template let-user pTemplate="item">
          <div>{{ user.lastName }}, {{ user.firstName }}</div>
        </ng-template>

        <!-- FOOTER MIT PLUS -->
        <ng-template pTemplate="footer">
          <div class="p-2 text-center">
            <button pButton type="button" icon="pi pi-plus" label="Weitere laden" class="p-button-text"
              (mousedown)="$event.preventDefault()" (click)="$event.stopPropagation(); loadMoreUsers()"
              [disabled]="userFilterLoading || userFilterLastPage">
            </button>
          </div>
        </ng-template>

      </p-dropdown>
      <label for="userFilter">Benutzer</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-dropdown [(ngModel)]="studioFilter" [options]="studioFilters" optionLabel="name" dataKey="id"
        placeholder="Studio auswählen" (onChange)="updateFilters()">

        <!-- Studio Item -->
        <ng-template let-studio pTemplate="item">
          <div>{{ studio.name }}</div>
        </ng-template>

        <!-- FOOTER MIT PLUS -->
        <ng-template pTemplate="footer">
          <div class="p-2 text-center">
            <button pButton type="button" icon="pi pi-plus" label="Weitere laden" class="p-button-text"
              (mousedown)="$event.preventDefault()" (click)="$event.stopPropagation(); loadMoreStudios()"
              [disabled]="studioFilterLoading || studioFilterLastPage">
            </button>
          </div>
        </ng-template>

      </p-dropdown>
      <label for="studioFilter">Studio</label>
    </p-floatLabel>

    <p-button [outlined]="true" label="Filter zurücksetzen"
      [style]="{'background-color': 'black', 'border-color': 'black', 'color': 'white'}"
      (click)="userFilter = null; studioFilter = null; updateFilters()">
    </p-button>
  </div>

  <div *ngIf="bookings.length === 0" class="empty-shell text-center my-6">
    <h3 class="mb-3">Keine Buchungen gefunden</h3>
    <p-button (onClick)="navigateToBookingCreation()"
      [style]="{'background-color': 'black', 'border-color': 'black', 'color': 'white'}" *ngIf="!isAdmin">
      Hier buchen
    </p-button>
  </div>

  <div *ngIf="bookings.length > 0" class="table-shell" style="padding-bottom: 0.5rem;">

    <p-table class="small-rows" [value]="bookings">
      <ng-template pTemplate="header">
        <tr>
          <th>Buchungsnummer</th>
          <th>Buchungsstatus</th>
          <th>Tag</th>
          <th>Uhrzeit</th>
          <th>Ort</th>
          <th>Stornieren</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-booking>
        <tr (click)="navigateToDetails(booking)" style="cursor: pointer;">
          <td>{{ booking.id }}</td>
          <td>{{ getStatusLabel(booking.status) }}</td>
          <td>{{ booking.date | date: 'dd.MM.yyyy' }}</td>
          <td>{{ booking.startTime | date:'HH:mm' }}–{{ booking.endTime | date:'HH:mm' }}</td>
          <td>{{ booking.studio.name }}</td>
          <td>
            <app-storno-booking
              *ngIf="booking.status === bookingStatus.CONFIRMED"
              [booking]="booking"
              (click)="$event.stopPropagation()">
            </app-storno-booking>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Pagination unten -->
  <div class="pager-shell flex justify-content-center gap-4 mt-4" *ngIf="totalPages > 1">
    <button pButton label="<- Zurück" [style]="{'background-color': 'white', 'border-color': 'black', 'color': 'black'}"
      (click)="isAdmin ? loadAdminPage(this.bookingService.page - 1) : loadUserPage(authService.getUser()?.id!, this.bookingService.page - 1)"
      [disabled]="this.bookingService.page === 0">
    </button>

    <span class="mt-2 mx-3 font-bold">Seite {{ this.bookingService.page + 1 }} von {{ totalPages }}</span>

    <button pButton label="Weiter ->" [style]="{'background-color': 'white', 'border-color': 'black', 'color': 'black'}"
      (click)="isAdmin ? loadAdminPage(this.bookingService.page + 1) : loadUserPage(authService.getUser()?.id!, this.bookingService.page + 1)"
      [disabled]="this.bookingService.page >= totalPages - 1">
    </button>
  </div>

</ng-container>
