<div class="flex align-items-center flex-wrap gap-4 mb-4">
    <h1 class="m-0">Buchungen</h1>
    <app-bookings></app-bookings>
  </div>
  <app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>
  <ng-container *ngIf="!(loading$ | async) && (bookings$ | async) as bookings">
    <p-table [value]="bookings">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="bookingNumber" style="width:20%">Buchungsnummer <p-sortIcon field="bookingNumber"></p-sortIcon></th>
          <th pSortableColumn="bookingStatus" style="width:20%">Buchungsstatus<p-sortIcon field="bookingStatus"></p-sortIcon></th>
          <th pSortableColumn="day" style="width:20%">Tag<p-sortIcon field="day"></p-sortIcon></th>
          <th pSortableColumn="time" style="width:20%">Uhrzeit<p-sortIcon field="time"></p-sortIcon></th>
          <th pSortableColumn="studioName" style="width:20%">Ort<p-sortIcon field="studioName"></p-sortIcon></th>
          <th>Stornieren</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-booking>
        <tr (click)="navigateToDetails(booking)" style="cursor: pointer;">
          <td>{{booking.id}}</td>
          <td>{{ getStatusLabel(booking.status) }}</td>
          <td>
            {{ booking.date | date: 'dd.MM.yyyy' }}
          </td>
          <td>
            {{ booking.startTime | date: 'HH:mm' }}–{{ booking.endTime | date: 'HH:mm' }}
          </td>
          <td>
            {{ booking.studio.name }}
          </td>
          <td>
            <!-- <app-storno-booking [booking]="booking" (click)="$event.stopPropagation()"></app-storno-booking> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
    </ng-container>